@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
	padding: 0;
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	background-color: #000000;
	background-image: url('../images/bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.wrapper{
	width: 980px;
	margin-left: auto;
	margin-right: auto;	

}
.header h1{
	/* padding-top: 10px;
	padding-bottom: 10px; */
	font-size: 32px;
}
.header nav{
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 10px;
	font-weight: 300;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	background: #6db3f2;
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de));
	background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: -ms-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}
.header nav li{
	display: inline-block;
	list-style: none;
	margin-left: 6px;
	margin-right: 6px;
	padding: 11px;
	position: relative;
	font-size: 13px;	
}
.header nav li ul{	
	text-align: left;
	display: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background: #fff;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	color: #fff;
	left: 0px; 
	top: 33px;
	min-width: 200px;
}
.header nav li:hover{	
	color: white;
	background: #4482bf;
	background: -moz-linear-gradient(top, #4482bf 0%, #090089 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4482bf), color-stop(100%,#090089));
	background: -webkit-linear-gradient(top, #4482bf 0%,#090089 100%);
	background: -o-linear-gradient(top, #4482bf 0%,#090089 100%);
	background: -ms-linear-gradient(top, #4482bf 0%,#090089 100%);
	background: linear-gradient(to bottom, #4482bf 0%,#090089 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4482bf', endColorstr='#090089',GradientType=0 );
}
.header nav li:hover ul{
	display: block;
}
.header nav li ul li{		
	display: block;
	padding: 0;
	margin: 0;

}
.header nav li ul li a{	
	padding: 10px;
	display: block;
	color: #797979;
	text-decoration: none;
	font-weight: 100;
	font-size: 13px;
}
.header nav li ul li a:hover{
	background-color: #F0EDED;
	color: black;
}
.header{
	color: #fff;
}
.content{
	background: #0f0;
	height: auto;
}
.content .banner{
	width: 100%;
	height: 125px;
	background: #000;
	text-align: center;
	/* vertical-align: middle; */
	padding-top: 25%;
	border: 1px solid rgba(145, 145, 145, 0.5);
	margin-bottom: 10px;
	color: #fff	;
}
.content .center{
	background: rgba(200,200,200,0.2);
	width: 550px;
	float: left;
	height: auto;
	border-radius: 3px;
	padding: 20px;
	line-height: 20px;
	color: #FFF;
	text-align: justify;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.content .center p{
	margin-bottom: 100px;
}
.content .right{
	background: rgba(30, 105, 222, 0.37);
	color: #fff;
	padding: 20px;
	width: 340px;
	line-height: 20px;
	float: right;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.content .right .ad{
	width:100%;
	height: 112px;
	background-color: #000; 
	border:1px solid #ccc;
	color: #fff;
	text-align: center;
	padding-top: 25%;
	margin-bottom: 10px;
}
.footer{
	clear: both;
	height: 140px;	
	background: rgba(0, 13, 148, 0.62);
	/* margin-top: 10px; */
	position: relative;
	top: 10px;
	border-radius: 3px;
	margin-bottom: 30px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}